<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Página Inicial</title>
    <link rel="icon" type="imagem/png" href="imagens/logoNoticias.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link href="css/estilo.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="container">

  <h1 class="title mt-5">NOTICIAS DO IGOR</h1>
<h2 class="subtitle">Sua fonte confiável de informação.</h2>
  
<div class="mt-5"><a href="noticias" class="button p-3">Acessar notícias</a></div>
  
  </div>



    <script src="script.js"></script>

    </div>
  </body>
</html>