<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Noticias do Igor</title>
    <link rel="icon" type="imagem/png" href="imagens/logoNoticias.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link href="css/estilo.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="container">

  <center><h1 class="title mt-5">Últimas Notícias</h1></center>

  <div class="border row p-2">
 <div class="col-3">
 <img src="imagens/homemaranha.jpg" class="notImg">
 </div>
  <div class="col-9"><a href="noticias/noticia1" class="notTitle"><h1 class="notTitle">Homem-Aranha: Sem Volta Para Casa ganha novo trailer</h1></a>
  
  <h2 class="notSubTitle">Novo trailer de homem aranha foi lançado e revelou um de seus vilões.</h2>

  
  </div>



    <script src="script.js"></script>

    </div>
  </body>
</html>