<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Notícia 01</title>
    <link rel="icon" type="imagem/png" href="../imagens/logoNoticias.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link href="../css/estilo.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  
  <div class="container">
  <a href="../noticias" class="back p-3">Pagina Inicial</a>
  <center><h1 class="title2 mt-5">Homem-Aranha: Sem Volta Para Casa ganha novo trailer</h1></center>
  <center><h2 class="sub2 mt-3">Novo trailer foi lançado no dia 23 de agosto de 2021 e revelou o novo(ou velho) vilão do filme.</h2></center>

<p class="txtNot mx-5 mt-5"> No novo trailer, é revelado a volta do Dr. Octopus, vilão da franquia do Homem Aranha do Tobey Maguire, o que fortalece ainda mais a teoria de um multiverso com os outros homem-aranhas.
</p>
<p class="txtNot mx-5"> O trailer conta com diversas outras referencias, o que possibilitou o surgimento de diversas novas teorias.
</p>

<p class="txtNot mx-5"> Confira o trailer abaixo:
</p>
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/FDNNHh7TRN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
  </div>
    <script src="script.js"></script>
  </body>
</html>